.post-container {
  background-color: #fff;
  margin: 3% 15%;
  width: 70%;
  text-align: left;
  border: medium ridge #e9e;
  padding: 11px 0;
}

.post-container div {
  padding: 0 40px;
}

.post-header {
  margin-bottom: 6px;
}

.post-author-date-topic-holder {
  padding: 0 !important;
  width: 70%;
}



/* .post-author-and-dropdown-menu {
  margin: 0;
  width: 100%;
} */


.post-author-holder {
  /* padding: 0 !important;
  width: 30%; */
  font-weight: bolder;
  font-size: large;
}

.post-date-and-topic-holder {
  font-size: x-small;
}

.post-title-holder {
  font-weight: bolder;
  font-size: larger;
}

.post-body-holder {
  font-size: large;
}

.post-container button {
  outline: none;
  width: 33%;
  height: 20px;
  color: white;
  background-color: #6a1b9a;
  font-family: inherit;
  font-weight: bolder;
  border: #6a1b9a;
}

.middle-button {
  margin: 0 0.5%;
}

.post-vote-comment-show {
  font-size: smaller;
  margin-bottom: 6px;
  text-align: right;
}
