body {
  line-height: 1.5
}

.post-list {
  list-style-type: none;
}

.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-color: #6A1B9A;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-style: italic;
  font-size: 2em;
}

.fixed-container {
  width: 100%;
}

.write-post-bar {
  height: 50px;
  width: 70%;
  margin: 3% 15%;
  border: medium ridge #e9e;
}

.write-post-bar-textarea {
  border-right: medium ridge #e9e;
  display: flex;
  float: left;
  width: 90%;
}

.write-post {
  border: none;
  flex: 1;
  width: 70%;
  height: 50px;
  padding: 0 40px;
  font-size: 1em;
}

.write-post-bar-button {
  width: 70%;
  height: 80%;
  margin: 11px 0;
  padding: 7px 0;
  color: white;
  background-color: #6a1b9a;
  font-family: inherit;
  font-weight: bolder;
  border: #6a1b9a;
}

.write-post-bar-button-container {
  width: 9.6%;
  float: right;
}

.post-container {
  margin: 3% 15%;
  width: 70%;
  text-align: left;
  border: medium ridge #e9e;
  padding: 11px 0;
}

.post-container div {
  padding: 0 40px;
}

.post-header {
  margin-bottom: 6px;
}

/* .post-author-and-dropdown-menu {
  margin: 0;
  width: 100%;
} */

.post-author-holder, .comment-author-holder {
  /* padding: 0 !important;
  width: 30%; */
  font-weight: bolder;
  font-size: large;
}

.post-date-and-topic-holder, .comment-date-holder {
  font-size: x-small;
}

.post-title-holder {
  font-weight: bolder;
  font-size: larger;
}

.post-body-holder {
  font-size: large;
}

.post-container button {
  width: 33%;
  height: 20px;
  color: white;
  background-color: #6a1b9a;
  font-family: inherit;
  font-weight: bolder;
  border: #6a1b9a;
}

.middle-button {
  margin: 0 0.5%;
}

.post-vote-comment-show {
  font-size: smaller;
  margin-bottom: 6px;
  text-align: right;
}

.comment-section {
  margin-top: 6px;
}

.comment-holder {
  padding: 0 !important;
}

.comment-header, .comment-body-holder {
  padding: inherit !important;
}

/* .ellipsis-holder {
  width: 70%;
} */
/* {
  border-bottom-color: #e9e;
  border-bottom-style: inset;
  border-bottom-width: thin;
} */
