body {
  line-height: 1.5;
  background-color: #f5f5f5;
}

.post-list {
  list-style-type: none;
}

.App {
  text-align: center;
  font-family: monospace;
}

.App-header {
  background-color: #6a1b9a;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-style: italic;
  font-size: 2em;
}

.fixed-container {
  width: 100%;
}

.author-select-container {
  display: flex;
  margin: 3% 15%;
}

.author-select-container input {
  width: 50%;
  margin: 0;
}

.author-select-container select {
  width: 50%;
  margin: 0 5%;
}

input, select{
  margin: 3% 15%;
  width: 68%;
  padding: 5px 10px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #6a1b9a;
  outline: 0;
}

.write-post-bar-button {
  width: 30%;
  height: 80%;
  margin: 3% 35%;
  padding: 7px 0;
  color: white;
  background-color: #6a1b9a;
  font-family: inherit;
  font-weight: bolder;
  border: #6a1b9a;
}

.open-add-post {
  position: fixed;
  right: 48%;
  bottom: 50px;
}

.icon-add {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #6a1b9a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}

.icon-add:hov {

}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
}

.modal {
  position: absolute;
  top: 40px;
  left: 200px;
  right: 200px;
  bottom: 40px;
  border: 1px solid rgb(204, 204, 204);
  background: #f5f5f5;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.post-container {
  background-color: #fff;
  margin: 3% 15%;
  width: 70%;
  text-align: left;
  border: medium ridge #e9e;
  padding: 11px 0;
}

.post-container div {
  padding: 0 40px;
}

.post-header {
  margin-bottom: 6px;
}

/* .post-author-and-dropdown-menu {
  margin: 0;
  width: 100%;
} */
.post-author-date-topic-holder {
  padding: 0 !important;
  width: 70%;
}

.post-author-holder, .comment-author-holder {
  /* padding: 0 !important;
  width: 30%; */
  font-weight: bolder;
  font-size: large;
}

.post-date-and-topic-holder, .comment-date-holder {
  font-size: x-small;
}

.post-title-holder {
  font-weight: bolder;
  font-size: larger;
}

.post-body-holder {
  font-size: large;
}

.post-container button {
  outline: none;
  width: 33%;
  height: 20px;
  color: white;
  background-color: #6a1b9a;
  font-family: inherit;
  font-weight: bolder;
  border: #6a1b9a;
}

.middle-button {
  margin: 0 0.5%;
}

.post-vote-comment-show, .comment-vote-show {
  font-size: smaller;
  margin-bottom: 6px;
  text-align: right;
}

.comment-section {
  margin-top: 10px;
}

.comment-holder {
  margin: 8px 0px;
  border-radius: 50px;
  background-color: #f5f5f5;
  padding: 0 20px !important;
}

.comment-vote-show {
  padding: 0 !important;
  float: right;
  width: 30%;
}

.comment-header, .comment-body-holder {
  padding: inherit !important;
}

.comment-button-container {
  width: 70%;
  padding: 0 0 8px 0 !important;
}

.comment-button-and-likes-display-holder {
  padding: 8px 20px 0 20px !important;
  display: flex;
}

.ellipsis-holder {
  position: relative;
  display: inline-block;
  padding: 0 !important;
  float: right;
}

.ellipsis-button-holder {
  outline: none !important;
}

.dropdown-content-holder {
  transform-origin: right top 0px;
  transform: scale(1);
  opacity: 1;
  right: 5px;
  padding: 0 !important;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 1;
}
.dropdown-content-holder ul {
  padding: 0;
}

.dropdown-content-holder li{
  color: black;
  padding: 5px 15px;
  text-decoration: none;
  display: block;
}

.dropdown-content-holder li:hover {
  color: white;
  background-color: #6a1b9a;
}
/* {
  border-bottom-color: #e9e;
  border-bottom-style: inset;
  border-bottom-width: thin;
} */
